html,
body,
#root {
  height: 100%; /* needed for proper layout */
}

body {
  overflow: hidden;
  margin: 0;
}

#root {
  display: flex;
  flex-direction: column;
}

input, button, textarea {
  font-family: inherit;
}

* {
  box-sizing: inherit;
  font-family: -apple-system, BlinkMacSystemFont, "Helvetica Neue", "Apple SD Gothic Neo", arial, 나눔고딕, "Nanum Gothic", 돋움, Dotum, Tahoma, Geneva, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
